GEMINI_API_KEY=
SEMANTRA_ADMIN_API_TOKEN=
SEMANTRA_API_BASE_URL=
SEMANTRA_CORS_ORIGINS=
SEMANTRA_LLM_MODEL=
SEMANTRA_LLM_PROVIDER=
SEMANTRA_OLLAMA_BASE_URL=
SEMANTRA_OPENAI_API_KEY=
SEMANTRA_OPENAI_BASE_URL=
SEMANTRA_SCORING_PROFILE=
SEMANTRA_SQLITE_PATH=